body{
    background-color: aqua;
}

.color1{
    background-color: pink;
}

.color2{
    background-color: peachpuff;
}

.color3{
    background-color: lightgoldenrodyellow;
}

.color4{
    background-color: lightgreen;
}

.color5{
    background-color: lightblue;
}